body {
    margin: 0;
    padding: 0;
}

/* Styling for the header and navbar */
.header {
    position: fixed;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
}

.nav a {
    text-decoration: none;
}

.nav li {
    margin: 20px;
    list-style: none;
}

.nav-link {
    color: #4158D0;
}

.active {
    color: #FFDCA2;
    background-color: #4159d0b4;
    border-radius: 25px;
    padding: 10px;
}

/* Gives each page the same background color */
.aboutMeBG,
.portfolioBG,
.contactBG,
.resumeBG {
    width: 100%;
    height: auto;
    background-color: #FD8F52;
    background-image: linear-gradient(313deg,
            #C73866 0%,
            #FE676E 46%,
            #FFBD71 100%);
}

/* Styling for the about page */
.aboutMeBG {
    padding-top: 250px;
}

.typewriter {
    font-size: 55px;
    color: #4158D0;
}

.aboutMe {
    font-size: 28px;
    color: #4158D0;
}

/* Styling for the portfolio page */
.portfolioBG {
    padding-top: 75px;
    padding-bottom: 100px;
    color: aliceblue;
}

.portH2 {
    margin-left: 30px;
    margin-bottom: 50px;
}

.cardLinks {
    width: auto;
}

.chipsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.projectSkill {
    background-color: #fdb095 !important;
    color: rgb(182, 40, 97) !important;
}

/* Styles the contact page */
.contactBG {
    padding-top: 75px;
}
 
#name,
#email,
#message {
    z-index: 1;
} 
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none !important;
    background-color: aliceblue;
    border-radius: 50px !important;
    color: black;
}

.sendBtn {
    background-image: linear-gradient(133deg, #7D68E9, #39C6D8);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.sendBtn:hover {
    background-image: linear-gradient(313deg, #FEC163, #FD8F52);
    cursor: pointer;
}

.sendBtn:active {
    background-image: linear-gradient(133deg, #7D68E9, #39C6D8);
}

/* Styles the Resume Page */

.resumeBG {
    padding-top: 50px;
}

/* Styles the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}